<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<link rel="stylesheet" href="/css/bread.css">
<link rel="stylesheet"
href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap" rel="stylesheet">
<body>

    <form action="/get/bread" method="post">
        <div class="navDiv">
            <ul class="">
                <li><a href="./home.html" class="name">My Bakery</a></li>
                <li><a href="#">Home</a></li>
                <li>
                    <a href="#">category <i class='bx bxs-chevron-down' ></i></a>
                    <ul class="dropdown">
                        <li><a href="./burger.html">Burger</a></li>
                        <li><a href="./pizza.html">Pizza</a></li>
                        <li><a href="./puff.html">Puff</a></li>
                        <li><a href="./bread.html">Bread</a></li>
                        <li><a href="#">Sandwich</a></li>
                        <li><a href="#">Chips</a></li>
                    </ul>
                </li>
                <li><a href="#">About us</a></li>
                <li id="li12"><a href="#" >Contact us</a></li>
                    <li class="icon"><a href="#"><i class='bx bxs-user-account' id="icon1"></i></a></li>
                <li class="icon"><a href="#"><i class='bx bxs-heart' id="icon2"></i></a></li>
                <li class="icon"><a href="#" ><i class='bx bx-cart' id="icon3"></i></a></li>
            </ul>
        </div>
        <br>
        <br>
        <div class="pizzaHeading">
            <p class="headline"><B><u>All kinds of Bread with Addtional flavours are available here...</u></B></p>
        </div><br><br><br><br>
        
        
        
            <div class="categoryHeading">
                <p class="name"><b>classic & simple Bread</b></p>
            </div>
        
        
        
        <div class="MainDiv">
            <div class="cards">
            
                <div class="card1">
                    <a href=""><img class="img1" src="/images/bread1.jpg" alt=""></a>
                    <p class="menuName"><b>Pure veg Bread</b></p>
                    <p class="p1">try new veg Bread which's' <br> purely Vegetarian</p><br><br><br>
                    <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now at Rs. 99</b></a></div>
                </div>
            
            
            
                <div class="card1">
                    <a href=""><img class="img1" src="/images/bread2.jpg" alt=""></a>
                    <p class="menuName"><b>Fried Bread sandwich</b></p>
                    <p class="p1">try new Fried Sandwich with Extra cheese <br>& meonese</p><br><br><br>
                    <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now  at Rs. 99</b></a></div>
                </div>
            
                
            
                <div class="card1">
                    <a href=""><img class="img1" src="/images/bread3.jpg" alt=""></a>
                    <p class="menuName"><b>Vanilla dessert</b></p>
                    <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p><br><br><br>
                    <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now at Rs. 99</b></a></div>
                </div>
        
        
                <div class="card1">
                    <a href=""><img class="img1" src="/images/bread4.jpg" alt=""></a>
                    <p class="menuName"><b>Vanilla dessert</b></p>
                    <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p><br><br><br>
                    <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now at Rs. 99</b></a></div>
                </div>
            </div>
        </div><br><hr><br>
        
        
        <div class="categoryHeading">
            <p class="name"><b>Bread shawarma</b></p>
        </div>
        
        
        <div class="MainDiv">
            <div class="cards">
            
                <div class="card1">
                    <a href=""><img class="img1" src="/images/bread5.jpg" alt=""></a>
                    <p class="menuName"><b>chocolate puffs</b></p>
                    <p class="p1">try new chocolaty puffs which's' <br> purely SugarFree</p><br><br><br>
                    <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now at Rs. 99</b></a></div>
                </div>
            
            
            
                <div class="card1">
                    <a href=""><img class="img1" src="/images/bread6.jpg" alt=""></a>
                    <p class="menuName"><b>Red Velvet Cake</b></p>
                    <p class="p1">try new Red velvet Cake with Extra cream <br>& Cherries</p><br><br><br>
                    <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now at Rs. 99</b></a></div>
                </div>
            
                
            
                <div class="card1">
                    <a href=""><img class="img1" src="/images/bread7.jpg" alt=""></a>
                    <p class="menuName"><b>Vanilla dessert</b></p>
                    <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p><br><br><br>
                    <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now at Rs. 99</b></a></div>
                </div>
        
        
                <div class="card1">
                    <a href=""><img class="img1" src="/images/bread8.jpg" alt=""></a>
                    <p class="menuName"><b>Vanilla dessert</b></p>
                    <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p><br><br><br>
                    <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now at Rs. 99</b></a></div>
                </div>
            </div>
        </div><br><hr><br>
        
        <div class="categoryHeading">
            <p class="name"><b>Tandoori shawarma</b></p>
        </div>
        
        
        
        <div class="MainDiv">
            <div class="cards">
            
                <div class="card1">
                    <a href=""><img class="img1" src="/images/bread9.jpg" alt=""></a>
                    <p class="menuName"><b>chocolate puffs</b></p>
                    <p class="p1">try new chocolaty puffs which's' <br> purely SugarFree</p><br><br><br>
                    <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now at Rs. 99</b></a></div>
                </div>
            
            
            
                <div class="card1">
                    <a href=""><img class="img1" src="/images/bread10.jpg" alt=""></a>
                    <p class="menuName"><b>Red Velvet Cake</b></p>
                    <p class="p1">try new Red velvet Cake with Extra cream <br>& Cherries</p><br><br><br>
                    <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now at Rs. 99</b></a></div>
                </div>
            
                
            
                <div class="card1">
                    <a href=""><img class="img1" src="/images/bread11.jpg" alt=""></a>
                    <p class="menuName"><b>Vanilla dessert</b></p>
                    <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p><br><br><br>
                    <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now at Rs. 99</b></a></div>
                </div>
        
        
                <div class="card1">
                    <a href=""><img class="img1" src="/images/bread12.webp" alt=""></a>
                    <p class="menuName"><b>Vanilla dessert</b></p>
                    <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p><br><br><br>
                    <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now at Rs. 99</b></a></div>
                </div>
            </div>
        </div><br><hr><br><br>
        
        <div class="categoryHeading">
            <p class="name"><b>extra Creamy shawarma</b></p>
        </div>
        
        
        <div class="MainDiv">
            <div class="cards">
            
                <div class="card1">
                    <a href=""><img class="img1" src="/images/bread13.jpg" alt=""></a>
                    <p class="menuName"><b>chocolate puffs</b></p>
                    <p class="p1">try new chocolaty puffs which's' <br> purely SugarFree</p><br><br><br>
                    <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now at Rs. 99</b></a></div>
                </div>
            
            
            
                <div class="card1">
                    <a href=""><img class="img1" src="/images/bread14.jpg" alt=""></a>
                    <p class="menuName"><b>Red Velvet Cake</b></p>
                    <p class="p1">try new Red velvet Cake with Extra cream <br>& Cherries</p><br><br><br>
                    <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now at Rs. 99</b></a></div>
                </div>
            
                
            
                <div class="card1">
                    <a href=""><img class="img1" src="/images/bread15.jpg" alt=""></a>
                    <p class="menuName"><b>Vanilla dessert</b></p>
                    <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p><br><br><br>
                    <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now at Rs. 99</b></a></div>
                </div>
        
        
                <div class="card1">
                    <a href=""><img class="img1" src="/images/bread16.jpg" alt=""></a>
                    <p class="menuName"><b>Vanilla dessert</b></p>
                    <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p><br><br><br>
                    <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now at Rs. 99</b></a></div>
                </div>
            </div>
        </div>
        
    </form>


</body>