<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBakery</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

    <form action="/get/home" method="post">

        <div class="navDiv">
            <ul class="">
                <li><a href="./home.html" class="name">My Bakery</a></li>
                <li><a href="./home.html">Home</a></li>
                <li>
                    <a href="#">category <i class='bx bxs-chevron-down' ></i></a>
                    <ul class="dropdown">
                        <li><a href="./burger.html">Burger</a></li>
                        <li><a href="./pizza.html">Pizza</a></li>
                        <li><a href="./puff.html">Puff</a></li>
                        <li><a href="./bread.html">Bread</a></li>
                        <li><a href="./sandwich.html">Sandwich</a></li>
                        <li><a href="./chips.html">Chips</a></li>
                    </ul>
                </li>
                <li><a href="#">About us</a></li>
                <li id="li12"><a href="#" >Contact us</a></li>
            </ul>
        </div>
        <br>
        <h1 class="heading">Welcome to the Kingdom of Desserts...</h1><br>
        <p class="p">All type of Desserts, sweets, PanCakes, party Cakes are Available here</p><br>
        <div class="buttons">
            <a href="./login.html" class="login"><button class="mainbtn login" >LOGIN</button></a>
        </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <!-- <h1 id="p1">All type of Desserts, sweets, PanCakes, party Cakes are Available here</h1> -->
        
        
        
        <ul class="ul100">
        
            <li>
                <div class="categoryPic">
                    <a href="./burger.html"><img src="/images/burger.jpg" class="menus" alt=""><br></a>
                    <p class="categoryName" id="n1"><b>Burger</b></p>
                </div>
            </li>
        
            <li>
                <div class="categoryPic">
                    <a href="./pizza.html"><img class="menus" src="/images/pizza.avif" alt=""> <br></a>
                    <p class="categoryName" id="n2"><b>Pizza</b></p>
                </div>
        </li>
        
            <li>
                <div class="categoryPic">
                   <a href="./puff.html"> <img src="/images/puff.jpg" class="menus" alt=""><br></a>
                    <p class="categoryName" id="n3"><b>soft puffs</b></p>
                </div>
            </li>
        
            <li>
                <div class="categoryPic">
                   <a href="./bread.html"> <img src="/images/bread.jpg" class="menus" alt=""><br></a>
                    <p class="categoryName" id="n4"><b>Bread</b></p>
                </div>
            </li>
        
            <li>
                <div class="categoryPic">
                   <a href="./sandwich.html"> <img src="/images/sandwich.jpg" class="menus" alt=""><br></a>
                    <p class="categoryName" id="n5"><b>Sandwich</b></p>
                </div>
            </li>
        
            <li>
                <div class="categoryPic">
                   <a href="./chips.html"> <img src="/images/chips.jpg" class="menus" alt=""><br></a>
                    <p class="categoryName" id="n6"><b>Chips</b></p>
                </div>
            </li>
        </ul>
        <br><br><br><br><br><br>
        </div>
        
            <h1 class="h1">Try Our Today's special desserts with 30% Discount</h1>
        
        <div class="MainDiv">
            <div class="cards">
            
                <div class="card1">
                    <a href=""><img class="img1" src="/images/Chocolate-Cupcakes-Square.webp" alt=""></a>
                    <p class="menuName"><b>chocolate puffs</b></p>
                    <p class="p1">try new chocolaty puffs which's' <br> purely SugarFree</p>
                </div>
            
            
            
                <div class="card1">
                    <a href=""><img class="img1" src="/images//Red_Velvet_Cake_Waldorf_Astoria.jpg" alt=""></a>
                    <p class="menuName"><b>Red Velvet Cake</b></p>
                    <p class="p1">try new Red velvet Cake with Extra cream & Cherries</p>
                </div>
            
                
            
                <div class="card1">
                    <a href=""><img class="img1" src="/images/Vanilla-Cupcake-Recipe-13s.jpg" alt=""></a>
                    <p class="menuName"><b>Vanilla dessert</b></p>
                    <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p>
                </div>
            </div>
        </div><br><br><br><br>
        
        <h1 class="h1">Try Our mini cakes with 30% Discount</h1>
        
        <div class="MainDiv">
            <div class="cards">
            
                <div class="card1">
                    <a href=""><img class="img1" src="/images//summer-desserts.jpg" alt=""></a>
                    <p class="menuName"><b>Rich Vanilla Bun</b></p>
                    <p class="p1">try Rich Vanilla Bun which's <br> purely SugarFree</p>
                </div>
            
            
            
                <div class="card1">
                    <a href=""><img class="img1" src="/images//3574694-hot-fudge-ice-cream-bar-dessert-Allrecipes-Magazine-4x3-1-8b0b0580bfb14ae9bb8a9b3acb421ad5.jpg" alt=""></a>
                    <p class="menuName"><b>Dry Fruit Cake</b></p>
                    <p class="p1">try new Dry Fruit Cake with Extra chocolates & nuts</p>
                </div>
            
                
            
                <div class="card1">
                    <a href=""><img class="img1" src="/images/044 Butterscotch Pastry_2-550x550.png" alt=""></a>
                    <p class="menuName"><b>Butterscotch Pastry</b></p>
                    <p class="p1">try new Butterscotch Pastry with creamy <br> Vanilla flavoured</p>
                </div>
            </div>
        </div>

    </form>
</body>
</html>