<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>



    <form action="/get/login" method="post" ></form>
<div class="center"><br>
    <h1>My Bakery</h1>
        <div class="textFields">
            <input type="text" name="username" required>
            <span></span>
            <label>username</label>
        </div>

    
            <div class="textFields">
                <input type="password" name="password" required>
                <span></span>
                <label>password</label>
            </div>
    
            <div class="pass">forgot password?</div> 
            <input type="submit" value="login">   

            <div class="signupLink">
                don't have any Account? <a href="./signUp.html">Signup</a>
            </div>
            </form>
<br>
            <div class="icons">
                <a href="" id="icon1"><i class='bx bxl-twitter icon'></i></a>
                <a href="" id="icon2"><i class='bx bxl-facebook icon'></i></a>
                <a href="" id="icon3"><i class='bx bxl-google icon'></i></a>
            </div>
</div>

</body>