<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="/css/pizza.css">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap" rel="stylesheet">

<form action="/get/pizza" method="post">
     <div class="navDiv">
    <ul class="">
        <li><a href="./home.html" class="name">My Bakery</a></li>
        <li><a href="#">Home</a></li>
        <li>
            <a href="#">category <i class='bx bxs-chevron-down' ></i></a>
            <ul class="dropdown">
                <li><a href="./burger.html">Burger</a></li>
                <li><a href="./pizza.html">Pizza</a></li>
                <li><a href="./puff.html">Puff</a></li>
                <li><a href="./bread.html">Bread</a></li>
                <li><a href="./sandwich.html">Sandwich</a></li>
                <li><a href="./chips.html">Chips</a></li>
            </ul>
        </li>
        <li><a href="#">About us</a></li>
        <li id="li12"><a href="#" >Contact us</a></li>
    </ul>
</div>
<br>
<br>
<div class="pizzaHeading">
    <p class="headline"><B><u>All kinds of pizza with Addtional flavours are available here...</u></B></p>
</div><br><br><br><br>



    <div class="categoryHeading">
        <p class="name"><b>simple & salted pizza</b></p>
    </div>



<div class="MainDiv">
    <div class="cards">
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/classicPizza1.jpg" alt=""></a>
            <p class="menuName"><b>chocolate puffs</b></p>
            <p class="p1">try new chocolaty puffs which's' <br> purely SugarFree</p><br><br><br>
            <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now</b></a></div>
        </div>
    
    
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/classicPizza2.jpg" alt=""></a>
            <p class="menuName"><b>Red Velvet Cake</b></p>
            <p class="p1">try new Red velvet Cake with Extra cream <br>& Cherries</p><br><br><br>
            <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now</b></a></div>
        </div>
    
        
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/classicPizza3.jpg" alt=""></a>
            <p class="menuName"><b>Vanilla dessert</b></p>
            <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p><br><br><br>
            <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now</b></a></div>
        </div>


        <div class="card1">
            <a href=""><img class="img1" src="/images/classicPizza4.jpg" alt=""></a>
            <p class="menuName"><b>Vanilla dessert</b></p>
            <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p><br><br><br>
            <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now</b></a></div>
        </div>
    </div>
</div><br><hr><br>


<div class="categoryHeading">
    <p class="name"><b>Veg & Delicious pizza</b></p>
</div>


<div class="MainDiv">
    <div class="cards">
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/vegPizza1.webp" alt=""></a>
            <p class="menuName"><b>chocolate puffs</b></p>
            <p class="p1">try new chocolaty puffs which's' <br> purely SugarFree</p><br><br><br>
            <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now</b></a></div>
        </div>
    
    
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/vegPizza2.webp" alt=""></a>
            <p class="menuName"><b>Red Velvet Cake</b></p>
            <p class="p1">try new Red velvet Cake with Extra cream <br>& Cherries</p><br><br><br>
            <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now</b></a></div>
        </div>
    
        
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/vegPizza3.webp" alt=""></a>
            <p class="menuName"><b>Vanilla dessert</b></p>
            <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p><br><br><br>
            <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now</b></a></div>
        </div>


        <div class="card1">
            <a href=""><img class="img1" src="/images/vegPizza4.webp" alt=""></a>
            <p class="menuName"><b>Vanilla dessert</b></p>
            <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p><br><br><br>
            <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now</b></a></div>
        </div>
    </div>
</div><br><hr><br>

<div class="categoryHeading">
    <p class="name"><b>Non-Veg or Chicken pizza</b></p>
</div>



<div class="MainDiv">
    <div class="cards">
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/chickenPizza1.jpg" alt=""></a>
            <p class="menuName"><b>chocolate puffs</b></p>
            <p class="p1">try new chocolaty puffs which's' <br> purely SugarFree</p><br><br><br>
            <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now</b></a></div>
        </div>
    
    
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/chickenPizza2.jpg" alt=""></a>
            <p class="menuName"><b>Red Velvet Cake</b></p>
            <p class="p1">try new Red velvet Cake with Extra cream <br>& Cherries</p><br><br><br>
            <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now</b></a></div>
        </div>
    
        
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/chickenPizza3.jpg" alt=""></a>
            <p class="menuName"><b>Vanilla dessert</b></p>
            <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p><br><br><br>
            <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now</b></a></div>
        </div>


        <div class="card1">
            <a href=""><img class="img1" src="/images/chickenPizza4.jpg" alt=""></a>
            <p class="menuName"><b>Vanilla dessert</b></p>
            <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p><br><br><br>
            <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now</b></a></div>
        </div>
    </div>
</div><br><hr><br><br>

<div class="categoryHeading">
    <p class="name"><b>extra cream & cheesy pizza</b></p>
</div>


<div class="MainDiv">
    <div class="cards">
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/extraPizza1.jpg" alt=""></a>
            <p class="menuName"><b>chocolate puffs</b></p>
            <p class="p1">try new chocolaty puffs which's' <br> purely SugarFree</p><br><br><br>
            <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now</b></a></div>
        </div>
    
    
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/extraPizza2.jpg" alt=""></a>
            <p class="menuName"><b>Red Velvet Cake</b></p>
            <p class="p1">try new Red velvet Cake with Extra cream <br>& Cherries</p><br><br><br>
            <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now</b></a></div>
        </div>
    
        
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/extraPizza3.jpg" alt=""></a>
            <p class="menuName"><b>Vanilla dessert</b></p>
            <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p><br><br><br>
            <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now</b></a></div>
        </div>


        <div class="card1">
            <a href=""><img class="img1" src="/images/extraPizza4.jpg" alt=""></a>
            <p class="menuName"><b>Vanilla dessert</b></p>
            <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p><br><br><br>
            <div class="buyNowBtn"><a href="./order.html" class="buyBtn"><b>Buy Now</b></a></div>
        </div>
    </div>
</div>

</form>


</body>