<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/css/puff.css">
<link rel="stylesheet"
href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap" rel="stylesheet">
<body>


<form action="/get/puff" method="post">
     <div class="navDiv">
    <ul class="">
        <li><a href="./home.html" class="name">My Bakery</a></li>
        <li><a href="#">Home</a></li>
        <li>
            <a href="#">category <i class='bx bxs-chevron-down' ></i></a>
            <ul class="dropdown">
                <li><a href="./burger.html">Burger</a></li>
                <li><a href="./pizza.html">Pizza</a></li>
                <li><a href="./puff.html">Puff</a></li>
                <li><a href="./bread.html">Bread</a></li>
                <li><a href="./sandwich.html">Sandwich</a></li>
                <li><a href="./chips.html">Chips</a></li>
            </ul>
        </li>
        <li><a href="#">About us</a></li>
        <li id="li12"><a href="#" >Contact us</a></li>
    </ul>
</div>
<br>
<br>
<div class="pizzaHeading">
    <p class="headline"><B><u>All kinds of Puffs with Addtional flavours are available here...</u></B></p>
</div><br><br><br><br>




<div class="categoryHeading">
    <p class="name"><b>Today's Special</b></p>
</div>


<div class="MainDiv">
    <div class="cards">
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/mainPuff1.jpg" alt=""></a>
            <p class="menuName"><b>chocolate puffs</b></p>
            <p class="p1">try new chocolaty puffs which's' <br> purely SugarFree</p>
        </div>
    
    
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/mainPuff2.jpg" alt=""></a>
            <p class="menuName"><b>Red Velvet Cake</b></p>
            <p class="p1">try new Red velvet Cake with Extra cream <br>& Cherries</p>
        </div>
    
        
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/mainPuff3.jpg" alt=""></a>
            <p class="menuName"><b>Vanilla dessert</b></p>
            <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p>
        </div>


        <div class="card1">
            <a href=""><img class="img1" src="/images/mainPuff4.jpg" alt=""></a>
            <p class="menuName"><b>Vanilla dessert</b></p>
            <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p>
        </div>
    </div>
</div>


<br><hr><br>



    <div class="categoryHeading">
        <p class="name"><b>veg puffs</b></p>
    </div>



<div class="MainDiv">
    <div class="cards">
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/vegpuff1.jpeg" alt=""></a>
            <p class="menuName"><b>chocolate puffs</b></p>
            <p class="p1">try new chocolaty puffs which's' <br> purely SugarFree</p>
        </div>
    
    
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/vegpuff2.jpeg" alt=""></a>
            <p class="menuName"><b>Red Velvet Cake</b></p>
            <p class="p1">try new Red velvet Cake with Extra cream <br>& Cherries</p>
        </div>
    
        
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/vegpuff3.jpeg" alt=""></a>
            <p class="menuName"><b>Vanilla dessert</b></p>
            <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p>
        </div>


        <div class="card1">
            <a href=""><img class="img1" src="/images/vegpuff4.jpeg" alt=""></a>
            <p class="menuName"><b>Vanilla dessert</b></p>
            <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p>
        </div>
    </div>
</div><br><hr><br>


<div class="categoryHeading">
    <p class="name"><b>Egg puffs</b></p>
</div>


<div class="MainDiv">
    <div class="cards">
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/eggPuff1.jpg" alt=""></a>
            <p class="menuName"><b>chocolate puffs</b></p>
            <p class="p1">try new chocolaty puffs which's' <br> purely SugarFree</p>
        </div>
    
    
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/eggPuff2.jpg" alt=""></a>
            <p class="menuName"><b>Red Velvet Cake</b></p>
            <p class="p1">try new Red velvet Cake with Extra cream <br>& Cherries</p>
        </div>
    
        
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/eggPuff3.jpg" alt=""></a>
            <p class="menuName"><b>Vanilla dessert</b></p>
            <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p>
        </div>


        <div class="card1">
            <a href=""><img class="img1" src="/images/eggPuff4.jpg" alt=""></a>
            <p class="menuName"><b>Vanilla dessert</b></p>
            <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p>
        </div>
    </div>
</div><br><hr><br>

<div class="categoryHeading">
    <p class="name"><b>Non-Veg or Chicken pizza</b></p>
</div>



<div class="MainDiv">
    <div class="cards">
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/chickenPuff1.jpg" alt=""></a>
            <p class="menuName"><b>chocolate puffs</b></p>
            <p class="p1">try new chocolaty puffs which's' <br> purely SugarFree</p>
        </div>
    
    
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/chickenPuff2.jpg" alt=""></a>
            <p class="menuName"><b>Red Velvet Cake</b></p>
            <p class="p1">try new Red velvet Cake with Extra cream <br>& Cherries</p>
        </div>
    
        
    
        <div class="card1">
            <a href=""><img class="img1" src="/images/chickenPuff3.jpg" alt=""></a>
            <p class="menuName"><b>Vanilla dessert</b></p>
            <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p>
        </div>


        <div class="card1">
            <a href=""><img class="img1" src="/images/chickenPuff4.jpg" alt=""></a>
            <p class="menuName"><b>Vanilla dessert</b></p>
            <p class="p1">try new Vanilla Dessert with pure <br> Vanilla Essence</p>
        </div>
    </div>
</div><br><hr><br><br>
</form>

</body>